.containerCard {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100vw;
  padding-top: 10px;
}


.leftContentCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.rightContentCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}