.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.wrapper{
  display: flex ;
  gap: 8px;
  align-items: center;
}

.weatherIcon { margin-inline: auto; }

.metaList {
  margin-block-start: 16px;
  padding-block-start: 16px;
  border-block-start: 1px solid var(--outline);
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.metaText { color: var(--on-surface-variant)}

.currentWeatherCard {
  background-color: var(--surface);
  color: var(--on-surface);
  border-radius: var(--radius-28);
  padding: 20px;
}

.heading {
  color: var(--white);
  font-size: var(--heading);
}

.title1 {
  font-size: var(--title-1);
}

.title2 {
  font-size: var(--title-2);
  margin-block-end: 12px;
}

.title3 {
  font-size: var(--title-3);
  font-weight: var(--weight-semiBold);
  color: var(--on-surface-variant)
}


@media (max-width: 764px){
  .currentWeatherCard {
    width: 80vw;
  }
}
