.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}

  
.authorContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 255px;
}
  
.authorContainer ion-icon {
  font-size: 27px;
  font-weight: 600;
  /* color:  rgba(255, 255, 255, 0.2); */
}

.itemTextHeader {
  font-size: var(--title-2);
  font-weight: 400;
  line-height: 1 ;
  /* color: rgba(255, 255, 255, 0.2); */
}



@media (max-width: 764px){
  /* .itemTextHeader {
    font-size: var(--title-3);
  } */
  .header {
    flex-direction: column;
    gap: 10px;
  }
}
