.searchBarContainer {
  width: 125px;
  margin-right: 30px;
  margin-top: 5px;
  position: relative;
}

.searchBarContainer form {
  display: flex;
  width: 100%;
}

.searchBar {
  font-size: var(--title-2);
  transition: color 300ms;
}


.searchBar:focus + .submitClick{
  color: var(--outline);
}

.searchBar:focus::placeholder{
  color: var(--outline)
}
.submitClick {
  cursor: pointer;
}

.submitClick {
  font-size: var(--title-1);
  line-height: 0.8;
  color: var(--on-surface-variant);
  transition: color 300ms;
}


@media (max-width: 764px){
  .searchBarContainer {
    margin-right: 0px;
  }
}
