.searchBarContainer{

  /* opacity: 0.2; */
  width: 13%;
  position: relative;
}

.searchBarContainer form {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBar {
  width: 100%;
  border-radius: 3px;
  padding: 8px;
}

.searchBar:focus::placeholder{
  color: rgba(153, 153, 153, 0.6)
}

.submitClick {
  position: absolute;
  right: 5px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submitClick ion-icon{
  font-size: 17px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: rgb(153, 153, 153)
}
