.hourlyForecast {
  font-size: 12px;
  padding: 25px 25px;
  border-radius: var(--radius-28);
  background-color: var(--surface);
  color: var(--on-surface);
  width: 100%;
}

.title2{
  margin-bottom: 30px;
}

.sliderContainer {
  display: flex;
  margin-inline: -16px;

}

.sliderList {
  display: flex;
  gap: 12px;
}


.sliderItem{
  background-color: var(--black-alpha-10);
  border-radius: var(--radius-16);
  width: 100%;
}

.sliderCard {
  padding: 20px;
  border-radius: var(--radius-16);
  text-align: center;
}

.temp {
  font-size: 16px;
}

.body3 { text-transform: capitalize; }